.ui.attached.menu {
  border-radius: 0;
}

.ui[class*="top attached"].menu {
  border-radius: 0;
}

.purpleText {
  color: #3F3A69;
}

.fc-license-message {
  display: none !important;
}

.container {
  padding-top: 1.5rem;
  padding-left: 15%;
  padding-right: 15%;
}

@media only screen and (min-width: 375px) {

  /* For mobile: */
  .mobilepanding {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .mobilepanding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .mobilepanding {
    padding-left: 15%;
    padding-right: 15%;
  }

}

.fc-timeline-event {
  cursor: pointer;
}

/* loader */
/* loader */
/* loader */
/* loader */

.spinner {
  /* margin: 100px auto; */
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}