.magazine{
	cursor: pointer;
}
.magazine:hover{
	text-decoration: underline;
}
td>a{
	cursor: pointer;
}
.group-shelf{
	padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    height: 60px;
}
}
.group-shel select{
	float: right;
}